body {
  margin: 0;
  height: 100vh;
  background: #d6cfc7;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 2000px;
  font-family: Arial, sans-serif;
}

/* LIBRO */
.book {
  width: 320px;
  height: 500px;
  position: relative;
}

/* PAGINAS */
.page {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
  transform-origin: left;
  transition: transform 1s ease;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* EFECTO DE HOJA */
.page.flipped {
  transform: rotateY(-180deg);
}

/* PORTADA (AQUÍ CAMBIA TODO) */
.cover {
  background: linear-gradient(135deg, #ff4d6d, #c9184a);
  color: white;
  font-size: 22px;
  text-align: center;
  z-index: 10;
}

/* ÚLTIMA PÁGINA */
.last {
  background: #fff0f3;
}

/* TEXTO */
p {
  text-align: center;
  font-size: 16px;
}

/* BOTONES */
button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #ff4d6d;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

/* EFECTO LIBRO (GROSOR) */
.book::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  left: -10px;
  background: #aaa;
  border-radius: 5px 0 0 5px;
}
